# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Stuff needed for build, but hated for repos #
###############################################
*.config
.config
vmlinux
zImage
.Image.cmd
.zImage.cmd
bfq.patch
.config.old
.configured
.depend_done
.unpacked
.version
.vmlinux.cmd
.vmlinux.o.cmd
.tmp_versions
modules.order
vmlinux
.*.o.cmd
Image
*.d
.tmp_vm*
.tmp_kall*
.tmp_Sys*
..tmp_vm*
.*.o.cmd
*/*/.*.o.cmd
*/.*.cmd
System.map
usr/initramfs_data.img
*.patch
*.orig
*.*.orig
*.rej
*.*.rej
lib/lib.a
Module.symvers
arch/arm/boot/compressed/.piggy.gz.cmd
arch/arm/kernel/.asm-offsets.s.cmd
arch/arm/kernel/.vmlinux.lds.cmd
arch/arm/kernel/asm-offsets.s
arch/arm/lib/.lib.a.cmd
arch/arm/lib/lib.a
drivers/scsi/.scsi_wait_scan.ko.cmd
drivers/scsi/scsi_wait_scan.ko
drivers/scsi/scsi_wait_scan.mod.c
include/asm-arm/asm-offsets.h
include/linux/autoconf.h
include/linux/bounds.h
include/linux/compile.h
include/linux/utsrelease.h
include/linux/version.h
kernel/bounds.s
scripts/basic/.docproc.cmd
scripts/basic/.fixdep.cmd
scripts/basic/.hash.cmd
scripts/kconfig/.conf.cmd
scripts/kconfig/.mconf.cmd
scripts/mod/.elfconfig.h.cmd
scripts/mod/.mk_elfconfig.cmd
scripts/mod/.modpost.cmd
include/config
include/asm


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
